<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}SnowPassion{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/startbootstrap/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Theme CSS -->
        <link href="{{ asset('assets/startbootstrap/css/clean-blog.css') }}" rel="stylesheet">
        <!-- CSS Personnalisé -->
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{ asset('assets/startbootstrap/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>
    {% endblock %}

</head>

<body id="body">

{{ include('navbar.html.twig') }}

<header id="header" class="intro-header" style="background-image: url({{ asset('assets/img/default.jpg') }})">

    <div class="site-heading">
        <h1>SnowPassion</h1>
        <hr class="small">
        <span class="subheading">Website for snowstriks lovers</span>
    </div>
    <div class="text-right">
        <a href="#tricks" id="back-bottom" class="page-scroll">
            <span class="fa fa-arrow-down fa-3x"></span>
        </a>
    </div>
</header>

{% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="msg-flash">
            <div class="alert alert-{{ key }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% block body %}
{% endblock %}

{{ include('footer.html.twig') }}


{% block javascripts %}

    <script src="{{ asset('assets/startbootstrap/vendor/jquery/jquery.min.js') }}"></script>

    <script src="{{ asset("assets/startbootstrap/vendor/bootstrap/js/bootstrap.min.js") }}"></script>

    <script src="{{ asset('assets/js/default.js') }}"></script>
{% endblock %}

</body>

</html>

