{% extends "default_trick.html.twig" %}

{% block title %}
    View - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="col-lg-10 col-lg-offset-1">
        <div class="corps col-xs-12">
            <section class="intro-header header row"
                    {% if (trick.images|first) is not empty %}
                style="background-image:
                        url({{ asset(trick_directory~(trick.images|first).id~'.'~(trick.images|first).ext) }})"
            {% else %}
                style="background-image:
                                     url({{ asset('assets/img/default-image.jpg') }}"
                    {% endif %}>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="fa-button-first-img text-right">
                <span>
                    <a href="{{ path('trick_edit',{'slug': trick.slug}) }}">
                     <i class="fa fa-pencil fa-margin"></i>
                    </a>
                    <i data-href="{{ path('trick_delete',{'slug': trick.slug}) }}"
                       class="fa fa-trash fa-margin delete"
                       title="Supprimer la figure">
                    </i>
                </span>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="site-heading heading">
                        <h1>{{ trick.nom }}</h1>
                        <hr class="small">
                    </div>
                </div>
            </section>

            <section id="media" class="col-xs-12 hidden-sm hidden-xs">

                {% for image in trick.images|slice(1) %}
                    <div class="col-lg-2 col-md-3 media-image">
                        <img class="img-trick" src="{{ asset(trick_directory_mini~image.id~'.'~image.ext) }}"
                             alt="{{ image.alt }}">
                        <div class="fa-button">
                        </div>
                    </div>
                {% endfor %}

                {% for video in trick.videos %}
                    <div class="col-lg-2 col-md-3">
                        <iframe class="media-video"
                                src="{{ video.url }}"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                        </iframe>
                    </div>
                {% endfor %}

            </section>

            <div class="visible-xs visible-sm text-center margin-top">
                <button id="media-visible" class="btn btn-default">Voir les médias</button>
            </div>

            <section id="description" class="col-xs-12">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-xs-12">{{ trick.description|nl2br }}</div>
                </div>
            </section>

            <div class="col-xs-12 text-center div-badge">
                <span class="badge badge-lg">Publié par {{ trick.auteur.username }}</span>

                <span class="badge badge-lg">Le {{ trick.date| localizeddate('none', 'none', null, null, 'd MMMM Y') }}</span>
                {% if trick.updatedAt is not null %}
                    <span class="badge badge-lg">Modifié le {{ trick.updatedAt| localizeddate('none', 'none', null, null, 'd MMMM Y') }}</span>
                {% endif %}
                <span class="badge badge-lg">Groupe: {{ trick.groupe.nom }}</span>
            </div>
            <section id="discussion" class="col-xs-12">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <form id="commenter" method="post" action="#" class="col-lg-8 col-lg-offset-2">
                        <hr class="medium">
                        <div class="col-sm-8 col-sm-offset-1">
                            {{ form_row(form.message) }}
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success">Envoyer</button>
                        </div>
                        {{ form_rest(form) }}
                        <hr class="medium">
                        {{ form_end(form) }}
                    </form>
                {% endif %}

                {% if listComments is not empty %}
                    <div class="col-lg-7 col-lg-offset-2">
                        <h3>Espace de discussions</h3>
                    </div>
                    <div id="commentaires" class="col-lg-7 col-lg-offset-2">
                        {% include 'Trick/comments.html.twig' with {'tricks':listComments } %}
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <ul class="pagination">
                            {% for p in range(1, nbPages) %}
                                {% if nbPages > 1 %}
                                    <li{% if p == 1 %} class="active" {% endif %}>
                                        <a class="btn-comments"
                                           data-href="{{ path("trick_list_comments",{'slug':trick.slug,'page': p}) }}">{{ p }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}
